{% extends "layout.html" %}
{% block content %}
    <h1>Introduction</h1>
        <article class="media content-section">
          <div class="media-body">
            <h2>What is Job Manager?</h2>
            <p class="article-content">This is a site to host utility functions as a service for Caltrans Asset Management.
                Registered uer can the submit a job from a list of available functions.
                User can view submitted jobs, cancel jobs, download the output file if the job is completed.
            </p>
            <p class="article-content">Click the Function link to see the list of functions.
            </p>
            <p class="article-content">For registered user, click the New Job link to submit a new job.
            </p>
          </div>
        </article>
{% endblock content %}
